*{
    font-family: "Roboto", serif;
}
#Nav-bar{
    background-color: rgb(9, 9, 71);
    color:aliceblue;
    display:flex;
    justify-content: end;
    gap: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#support{
    padding-right: 70px;
}